@model IEnumerable<CommentDTO>

<div class="card-body">
    <comments data="@Model" />
</div>

@*Needs to be reloaded because the script sections aren't loaded when a partial view is rendered.*@ 
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>